<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <footer>
        <div class="pie">
            <nav class="footer-contacto">
                <ul>
                    <li><a href="#"><img src="/images/logo.png" width="30%"></a></li>
                    <li><a href="https://www.gmail.com">Contacto: email@bookmania.com</a></li>
                </ul>
            </nav>
            <nav class="footer-legales">
                <ul>
                    <li><a href="#">Aviso de privacidad</a></li>
                    <li><a href="#">Protección de datos</a></li>
                    <li><a href="#">Condiciones de compra</a></li>
                    <li><a href="#">Politica de cookies</a></li>
                </ul>
            </nav>
            <nav class="footer-redes">
                <a href="https://www.facebook.com"><img src="/images/redes/facebook.png"></a>
                <a href="https://www.twitter.com"><img src="/images/redes/twitter.png"></a>
                <a href="https://www.instagram.com"><img src="/images/redes/instagram.png"></a>
            </nav>
        </div>

        <p style="text-align: center;">Copyright © 2021 BOOKMANÍA. Todos los derechos reservados</p>
    </footer>
</body>