<head>
  <link rel="stylesheet" href="/css/header.css">
  <%- include('./head')%>
</head>

<body>
    <div class="header">
        <div class="logo">
          <a href="/"><img class="logoimg" src="/images/image0.png" alt="" /></a>  
        </div>
        
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </label>
        <div>
        <ul class="menu">
          <a href="/" class="btn-inicio dropbtn">Inicio</a>    
          <div class="dropdown">
            <a class="btn-sbn dropbtn"><i class="fas fa-caret-down"></i> Sobre Nosotros</a>
            <div class="dropdown-content">
              <a href="/contact"> Contacto</a>
              <a href=""> Misión y Visión </a>
            </div>
          </div>
          
          <div class="dropdown">
            <a class="btn-prod dropbtn"><i class="fas fa-caret-down"></i> Productos</a>
            <div class="dropdown-content">
              <a href="/crearProducto"> Crear producto</a>
              <a href="/misproductos"> Lista de Productos </a>
              <a href="/usuarios"> Usuarios </a>
            </div>
          </div>
         
          <div class="dropdown">
            <a href="#" class="btn-cat dropbtn"><i class="fas fa-caret-down"></i> Categoría</a>
            <div class="dropdown-content">
                <a href="/cat_arte"> Arte y Religión</a>
                <a href="#"> Ciencia y Ficción</a>
                <a href="#"> Deportes</a>
                <a href="#"> Derecho y Economía</a>
                <a href="#"> Enseñanza Inglés</a>
                <a href="#"> Infantil</a>
                <a href="#"> Informática e Ingeniería</a>
                <a href="#"> Medicina y Psicología</a>
            </div>
         </div> 
        
         <% if(locals.isLogged) { %>
          <div class="dropdown">
            <a href="#" class="btn-cuenta dropbtn">
              Hola <%= locals.userLogged.name %>
            </a>
            <div class="dropdown-content">
              <a href="/profile"><i class="fas fa-sign-in-alt"></i> Mi perfil</a>
              <a href="/logout"><i class="fas fa-sign-in-alt"></i> Logout</a>
            </div>
            <img src="/images/usuarios/<%= locals.userLogged.src_image %>" width="60" style="border-radius: 30%; vertical-align: middle; margin-bottom: 8px;">
         </div>
        <%} else { %>
         <div class="dropdown">
            <a href="#" class="btn-cuenta dropbtn"><i class="fas fa-caret-down"></i> Mi cuenta</a>
            <div class="dropdown-content">
              <a href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
              <a href="/register"><i class="fas fa-user-plus"></i> Regístrate</a>
            </div>
          </div>
        <% } %>

          <a href="/carrito">
            <img class="imagen" src="/images/car.png" width="50" height="50" alt="Cart" style="vertical-align: middle;">
          </a>
        
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        
      </ul>
      </div>
        

        
          
      </div>




      <div class="pleca-colores"></div>
</body>
