.menu .btn-inicio{
  background: rgba(179, 170, 211, 0.9);
  border: black 1px solid;
}

.menu .btn-cat{
    background: rgba(65, 80, 151, 0.9);
    border: black 1px solid;
}

.menu .btn-sbn{
   background: rgba(240, 89, 58, 0.9);
   border: black 1px solid;
}

.menu .btn-cont{
  background: rgba(81, 192, 187, 0.9);
  border: black 1px solid;
}

.menu .btn-cuenta{
  background: rgba(241, 127, 177, 0.7);
  border: black 1px solid;
}