.menu .btn-inicio{
  background: rgba(179, 170, 211, 0.9);
  border: black 1px solid;
}

.menu .btn-cat{
    background: rgba(65, 80, 151, 0.9);
    border: black 1px solid;
}

.menu .btn-sbn{
  background: rgba(123, 127, 240, 0.879);
   border: black 1px solid;
}

.menu .btn-cont{
  background: rgba(179, 170, 211, 0.9);
  border: black 1px solid;
}

.menu .btn-cuenta{
  background: rgba(123, 127, 240, 0.879);
  border: black 1px solid;
}