footer{
	background-color: rgba(188, 208, 240, 0.8);
	width: 100% !important;

}
.pie{
	display: flex;
	align-items: center;
	padding: 10px;
}

.footer-contacto, .footer-legales, ul{
	list-style: none;
}

.footer-contacto{
	margin-left: 2rem;
}
.footer-contacto a{
	text-decoration: none;
	color: #000000;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

a:hover, .footer-legales a:hover{
	color: rgb(10, 180, 180);
}

.footer-legales a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    font-size: 15px;
}

.footer-redes img{
	width: 30px;
	height: 30px;
}
