
.columnas{
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-self: center;
	
}


.column1{
    justify-content: center;
    padding: 20px; 
    flex: 50%;
	margin: 20px;
}
.column2{
    display: flex;
    flex: 50%;
    flex-direction: column;
	align-items: center;
    justify-content: flex-end;
	margin-bottom: 100px;
}

.register2{
		color: rgb(86, 145, 233);
		font-weight: normal; line-height: 48px; 
		text-align: center; text-shadow: 1px 1px 2px #082b34; 
		font-size: 30px;
}

.register{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.texto1{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgba(200, 217, 252, 0.5);
	border-radius: 8px;
	padding: 20px;
}
form label{
	font-size: 20px;
}

form form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.control{
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 17px;
	border: black 1px solid;	
}

.column2 img{
	width: 400px;
}
.text-danger{
	color: rgb(186, 41, 41);
}

.enviar{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.textErrorPass, .textErrorMail{
	color: rgb(186, 41, 41);
}

.controlEmail{
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 17px;
	border: black 1px solid;	
}

.controlPass{
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 17px;
	border: black 1px solid;	
}



.enviar button{
	width: 130px;
	height: 60px;
	color: white;
	font-family: 'Rubik One', sans-serif;
	text-decoration: none;
	font-size: 22px;
	border-radius: 3px;
	background-color: #3498db;
}

.enviar button:hover{
	background-color: #94bfdb;
}

#ligaContraseña{
    color: rgb(48, 90, 116);
    font-family:'Times New Roman';
    font-size: 18px;
}


@media only screen and (max-width: 600px)  {
	.header .main .logo .logo-bookmania .column1 .form .pie .footer-contacto{
	  width: 200px;
	  height: 62px;
	} 
    .column1{
        display: center;
        justify-content: center;
        text-align: center;
    }
	.column2{
		display: none;
	}
	.pie, .footer-titulo, .footer-legales a{
		font-size: 10px;
	}
    .footer-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .footer-redes img{
        width: 15px;
        height: 15px;
    }
    
}
