<head></head>
    <Title>Arte y Religión</Title>
    <link rel="stylesheet" href="/css/cat_arte.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="productos">
                <article class="product">
                    <img src="/images/productos/guia-completa-del-diseño-grafico.png">
                    <h2>GUIA COMPLETA DEL DISEÑO GRÁFICO</h2>
                    <p>Autor: Bryony Gómez Palacio</p>
                    <h4>$591</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
                <article class="product">
                    <img src="/images/productos/estetica-del-siglo-XIX.png">
                    <h2>ESTÉTICA DEL SIGLO XIX</h2>
                    <p>Autor: Francisco Campillo</p>
                    <h4>$308</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
                <article class="product">
                    <img src="/images/productos/un-cristiano-en-la-senda-de-buda.png">
                    <h2>UN CRISTIANO EN LA SENDA DE BUDA</h2>
                    <p>Autor: Jacques Scheuer</p>
                    <h4>$731</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
                <article class="product">
                    <img src="/images/productos/el-simbolo-sagrado.png">
                    <h2>EL SIMBOLO SAGRADO</h2>
                    <p>Autor: Julien Ries</p>
                    <h4>$403</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>