<head></head>
    <Title>Ciencia y Ficción</Title>
    <link rel="stylesheet" href="/css/cat_arte.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="ciencia">
                <h2>Ciencia y Ficción</h2>
                <div class="productos">
                    <article class="product">
                        <img src="/images/productos/image_5853857_2021-03-30_07_03_53_000.jpg">
                        <h2>Medicina Forence</h2>
                        <p>Autor: Felipe Edmundo</p>
                        <h4>$650</h4>
                        <p class="envio-gratis">Envío Gratis</p><br>
                        <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                    </article>
                    <article class="product">
                        <img src="/images/productos/image_6813772_2020-07-08_05_28_32_000.jpg">
                        <h2>Biología Conceptual</h2>
                        <p>Autor: Luis Antonio Mendoza Sierra</p>
                        <h4>$300</h4>
                        <p class="envio-gratis">Envío Gratis</p><br>
                        <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                    </article>
                    <article class="product">
                        <img src="/images/productos/image_7252571_2020-12-08_06_43_16_000.jpg">
                        <h2>El libro de la ciencia</h2>
                        <p>Autor: Et. al</p>
                        <h4>$420</h4>
                        <p class="envio-gratis">Envío Gratis</p><br>
                        <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                    </article>
                </div>
            </div>
           
        </main>

        <%- include('../partials/footer') %>

</body>