<head></head>
    <Title>Informática e Ingeniería</Title>
    <link rel="stylesheet" href="/css/cat_arte.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="productos">
                <article class="product">
                    <img src="/images/productos/978607538696.JPG">
                    <h2>Cisco CCNAv7</h2>
                    <p>Autor: Alicia Pedrosa Sánchez</p>
                    <h4>$850</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
                <article class="product">
                    <img src="/images/productos/978950754632.JPG">
                    <h2>Mundo Virtual</h2>
                    <p>Autor: Esteban Ierardo</p>
                    <h4>$418</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
                <article class="product">
                    <img src="/images/productos/image_5785809_2019-05-24_06_12_18_000.jpg">
                    <h2>Precalculo</h2>
                    <p>Autor: Ron Larson</p>
                    <h4>$731</h4>
                    <p class="envio-gratis">Envío Gratis</p><br>
                    <button type="submit" onclick="window.location='/carrito'">Agregar a carrito</button>
                </article>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>